{% extends 'product/base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}
    Edit Comment - Blog
{% endblock %}

{% block main_area %}
    <div class="container mt-4">
        <h1 class="text-light">Edit Comment</h1>
        <hr>
        <form method="post" enctype="multipart/form-data">     <!-- 보통 form은 table 구조 주로 사용 -->
            {% csrf_token %}
                <div class="text-light">
                    {{form | crispy}}
                </div>


            <button type="submit" class="btn btn-primary float-right">Submit</button>
        </form>
    </div>
{% endblock %}