<!-- Footer-->
    <footer>
            <div class="container py-4">
                <h3 class="m-0 text-center">
                    <a href="https://www.instagram.com/rhdaldwhd" style="color: #c95020;">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </h3>
                <br>
                <p class="mb-5 text-center text-white">
                    Company Name:  | Owner: MinjeongKwon | Personal Info Manager: MinjeongKwon
                    | Phone Number: 010-2782-5185 | Email: mxnjxxng@naver.com <br>
                    Address: 서울특별시 도봉구 쌍문동 419 | Business Registration Number: 000-11-01010
                    <br>
                    COPYRIGHT @ almost 9
                </p>
            </div>
        </footer>
