<!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white footer">
                <a href="https://www.instagram.com/rhdaldwhd"><i class="fa-brands fa-instagram"></i></a>
                <br>
                Company Name:  | Owner: MinjeongKwon | Personal Info Manager: MinjeongKwon
                | Phone Number: 010-2782-5185 | Email: mxnjxxng@naver.com <br>
                Address: 서울특별시 도봉구 쌍문동 419 | Business Registration Number: 000-11-01010

                <p class="m-0 text-center text-white footer"> COPYRIGHT </p>
            </p>
        </div>
    </footer>