  <div class="offcanvas offcanvas-start" id="demo">
    <div class="offcanvas-header">
      <button type="button" class="btn-close ml-auto" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body ml-1">
      <h1 class="offcanvas-title mb-4">쇼핑몰명</h1>
      <a class="nav-link active mb-4" aria-current="page" href="/">HOME</a>
      <a class="nav-link mb-4" href="/about_us/">ABOUT</a>
      <a class="nav-link mb-4" href="/product/">SHOP</a>
    </div>
  </div>

  <div class="row py-3" id="nav">
    <div class="col">
      <h3 class="menu-bar mt-2 ml-5" data-bs-toggle="offcanvas" data-bs-target="#demo">☰</h3>
    </div>
    <div class="col">
      <h1 style="text-align: center">쇼핑몰 이름</h1>
    </div>
    <div class="col">
      <ul class="nav justify-content-space-between nav-menu mt-2 mr-5 float-right">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/accounts/login">
            <i class="fa-solid fa-user"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
            <i class="fa-solid fa-bag-shopping"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

