{% extends 'product/base.html' %}

{% block head_title %}
    Product | almost 9
{% endblock %}

{% block main_area %}
        <!-- Header -->
        <header class="container mt-5">
            {% if search_info %}
                <h1 class="text-muted">{{ search_info }}</h1>
            {% endif %}
            {% if manufacturer %}
                <h1 class="text-center text-light">제조사 [ {{ manufacturer }} ]</h1>
            {% endif %}
            {% if category %}
                <h1 class="text-center text-light">카테고리 [ {{ category }} ]</h1>
            {% endif %}
            {% if color %}
                <h1 class="text-center text-light">색 [ {{ color }} ]</h1>
            {% endif %}
            {% if type %}
                <h1 class="text-center text-light">기종 [ {{ type }} ]</h1>
            {% endif %}
        </header>


        <div class="container mt-5">
            <div class="text-center justify-content-center" align="center">
                {% for category in categories %}
                <span class="ml-5 mr-5">
                    <a href="{{category.get_absolute_url}}" class="text-decoration-none">{{category}}
                        ({{category.product_set.count}})</a>
                </span>
                {% endfor %}
            </div>
        </div>

{% if product_list.exists %}
<!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-center">
                    {% for p in product_list %}
                    <div class="col mb-5">
                        <div class="card h-100" id="product-{{p.pk}}">
                            <!-- Product image-->
                            <a href="{{ p.get_absolute_url }}">
                                <img class="card-img-top" id="list_img" src="{{ p.image.url }}" alt="상품 이미지" />
                            </a>
                            <!-- Product details -->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <a class="badge bg-light text-decoration-none link-light"
                                       href="{{p.manufacturer.get_absolute_url}}">
                                    {{ p.manufacturer | upper }}
                                    </a>
                                    <!-- Product name -->
                                    <h5 class="fw-bolder">
                                        <a href="{{ p.get_absolute_url }}" class="text-decoration-none">{{ p.title }}</a>
                                    </h5>
                                    <!-- Product hook_text -->
                                    <p>{{ p.hook_text }}</p>
                                    <!-- Product price -->
                                    <p>{{ p.price }}원</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
{% else %}
    <h3>아직 게시물이 없습니다.</h3>
{% endif %}

<!-- Pagination-->
	{% if is_paginated %}
	<nav aria-label="Pagination">
		<hr class="my-0" />
		<ul class="pagination justify-content-center my-4">
			{% if page_obj.has_previous %}
			<li class="page-item"><a class="page-link" href="?page={{page_obj.previous}}" tabindex="-1" aria-disabled="true">Newer</a></li>
			{% else %}
			<li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
			{% endif %}

			{% if page_obj.has_next %}
			<li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">Older</a></li>
			{% else %}
			<li class="page-item disabled"><a class="page-link" href="#!">Older</a></li>
			{% endif %}
		</ul>
	</nav>
    {% endif %}


        <!-- 등록 버튼 -->
        {% if user.is_authenticated %}
           {% if user.is_superuser or user.is_staff %}
            <div class="floating_btn">
                <a href="/product/register_product">
                    <h3><i class="fa-solid fa-plus"></i></h3>
                </a>
            </div>
            {% endif %}
        {% endif %}




{% endblock %}





