body {
    background-color: #111530;
    overflow-x:hidden;
}
/* 나브바 */
.navTotal {
    color: #111530;
}
#nav {
    background-color: #c95020;
}
.menu-bar {
    cursor: pointer;
}
.logo {
    font-weight: bold;
    font-family: 'DM Serif Display', serif;
    color: #111530;
}
.offcanvas-content {
    font-weight: bold;
    font-family: 'Noto Serif KR', serif;
}
.nav-link {
    color: #111530;
}
.nav-link:hover {
    color: #111530;
    opacity: .8;
}

/* 서치바 */
.searchBtn {
    background-color: #111530;
    color: white;
}
.searchBtn:hover , .searchBtn:active {
    background-color: rgba(17, 21, 48, 0.9);
    color: white;
}

/* 상품 등록/수정 플로팅 버튼 */
.floating_btn {
  display:table;

    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 60px;
    text-decoration: none;
    border-radius: 100px;
    background-color: #e3bfd5;
    color: #702b5f;
    margin-left: 50px;
    right:50px;
}
.floating_btn a {
    padding-top: 4px;
    text-align: center;
    color: inherit;
    text-decoration-line: none;
    display:table-cell;
    vertical-align:middle;
}

/* footer */
footer {
    fixed: none;
    background-color: #111530;
    line-height: 200%;
}


